/* Make html and body take full height */
html,
body {
  height: 100%;
  margin: 0;
}

/* Full page flex layout */
body {
  display: flex;
  flex-direction: column;
  background-color: #a5d8d3;
}

/* Let content grow */
.content {
  flex: 1 0 auto;
  padding-top: 70px;
  padding-bottom: 2rem;
}

/* Footer fixed at bottom if content is short */
.footer {
  flex-shrink: 0;
  background-color: #343a40;
  color: white;
  text-align: center;
  padding: 1rem 0;
}

/* Other styling */
.box {
  background: #4e6c63;
  width: calc(100% / 2 - 20px);
  color: #fff;
  margin: 10px;
}
.box .box-topic {
  font-size: 20px;
  font-weight: 500;
}
.box .number {
  font-size: 35px;
  margin-top: -6px;
  font-weight: 500;
}
.box .indicator {
  font-size: 48px;
}
.widget-box {
  background-color: #8aaea9;
  color: white;
  padding: 1rem;
  min-width: 200px;
}
.bg-white {
  background-color: #fff;
}